.root {
    -fx-font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    -fx-accent: #000000;
    -fx-focus-color: #000000;
    -fx-base: #f2f2f2;
    -fx-control-inner-background: white;
    -fx-text-fill: #000000;
}

.button {
    -fx-background-radius: 4;
    -fx-background-color: linear-gradient(#ffffff, #e6e6e6);
    -fx-text-fill: #000000;
    -fx-border-color: #00000022;
}
.button:default {
    -fx-background-color: #000000;
    -fx-text-fill: white;
}

.table-view .column-header-background {
    -fx-background-color: #e0e0e0;
}

/* Colori selezione TableView */
.table-view {
    -fx-selection-bar: #000000;
    -fx-selection-bar-non-focused: #000000;
    -fx-selection-bar-text: white;
}

/* Header area dei Tab */
.tab-pane .tab-header-area {
    -fx-background-color: #e0e0e0;
}